################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TransportApp/bin
/TransportApp/node_modules
/TransportApp/obj/Debug
